.Sky {
    background-color: #333;
    height: 100%;
    width: 100%;
    position: relative;
}
.Moon {
    position: absolute;
    left: 25%;
    top: 25%;
}
.Stars {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 100px;
    top: 100px;
}